# Hugo default output directory
package-lock.json
.hugo_build.lock
/node_modules/
/static/index.json
/resources/_gen/
/public
public/
## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# static from other projects
#e2immu-support-javadoc/
#road-to-immutability*
#manual*

# OSX
.DS_Store

